.language-modal-container{
    position: absolute;
    display:none;
    background-color:#2e3651;
    display:flex;
    flex-wrap:wrap;
    height:380px;
    width:330px;
    border-radius:5px;
    top: 220px;
    left:160px;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
}
.language-modal-container a{
    text-decoration:none;
    color:white;
    width:43%;
    padding:8px 10px;
    display:flex;
    gap:10px;
    align-items:center;
    transition:transform 0.15s ease 0s, color 0.15s ease 0s;
    
}
.language-modal-container a:hover{
   color:rgb(57, 178, 255);
   background-color:rgb(55, 64, 91);
    
}
.language-modal-container a img{
    width:21px;
    height:14px;
}